@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    opacity: 100%;
    font-size: larger;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    background-image: url("https://wallpaperaccess.com/full/4821155.jpg");
}
#logo{
    text-align: center;
}
#utilizador{
    width: 25%;
    float:left;
    height: auto;
    text-align: center;
    margin-left: 4%;
    margin-right: 0;
    border-radius: 20px;
    background-color: #c0e4ff;
}
#dados{
    float: right;
    width: 63%;
    height: auto;
    padding: 1%;
    margin-right: 4%;
    border-radius: 20px;
    background-color: #c0e4ff;
}
#menu{
    width: 90%;
    padding: 1%;
    margin: 2% auto;
    border-radius: 20px;
    background-color: #c0e4ff;
}
.li_menu{
    display: inline;
    padding-right: 2%;
    background-color: #c0e4ff;
}
#li_pagin{
    padding-left: 2%;
}
#logout{
    float: right;
}
#icons{
    padding-right: 6px;   
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #0077ff;
}
#icons{
    padding-right: 6px;   
}
#GEMP{
    color:#0077ff;
}
.button{
    cursor: pointer;
    color: #3e98ff;
    border-style: solid;
    border-radius: 20px;
    border-color: #3e98ff;
    background-color: whitesmoke;
}
.button:hover{
    color: whitesmoke;
    background: #3e98ff;
    border-color: #c0e4ff;
}